* {
    /* border: 1px solid salmon; */
    font-family: 'Junicode';

} *

 .everything_container {
    border: 3px solid black;
} 

.button_container {
    border: 3px solid black;
}

@font-face {
  font-family: 'Junicode';
  src: url('Junicode-BoldItalic.woff2') format('woff2'),
      url('Junicode-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Junicode';
  src: url('Junicode-Bold.woff2') format('woff2'),
      url('Junicode-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Junicode';
  src: url('Junicode.woff2') format('woff2'),
      url('Junicode.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Junicode';
  src: url('Junicode-Italic.woff2') format('woff2'),
      url('Junicode-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


/* .input[type="range"] {
  
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    cursor: pointer;
    outline: none;
  }

  .slider {
  
    -webkit-appearance: none;
    appearance: none;
    border: 3px black;

    width: 100%;
    cursor: circle;
    outline: none;
    background-color: rgb(209 213 219);
    border-color: black 3px;
  } */


  /* #slider3 {
   cositas individuales para anclar cada slider!!!!
  } */

